apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-devops
  template:
    metadata:
      labels:
        app: hello-devops
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: hello-devops
        image: mytub/ganta
        ports:
        - containerPort: 8080
        livenessProbe:
           httpGet:
             path: /actuator/health
             port: 8080
           initialDelaySeconds: 10
           periodSeconds: 10
        readinessProbe:
           httpGet:
             path: /actuator/health
             port: 8080
           initialDelaySeconds: 5
           periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: hello-devops-service
spec:
  type: NodePort
  selector:
    app: hello-devops
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 31000
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: hello-servicemonitor
  namespace: monitoring
  labels:
    release: monitor
spec:
  selector:
    matchLabels:
      app: hello-devops
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 10s

